[data-cellid="grid_cell_field3"][data-page="carscars_list"][data-cellid="grid_cell_field3"][data-page="carscars_list"][data-cellid="grid_cell_field3"][data-page="carscars_list"] {
  background-color: #f0f2f4;
}
[data-page="carscars_list"][data-itemid="details_found"] {
  padding-top: 8px;
}
[data-page="carscars_list"][data-itemid="grid_field"] {
  font-weight: bold;
}
[data-page="carscars_list"][data-itemid="grid_field1"] {
  font-weight: bold;
}
[data-page="carscars_list"][data-itemid="grid_field2"] {
  font-size: 20px;
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="grid_field3"] {
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="grid_field_label4"] {
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="grid_field_label5"] {
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="grid_field7"] {
  padding-left: 10px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_label"][data-page="carscars_list"][data-cellid="grid_cell_label"][data-page="carscars_list"][data-cellid="grid_cell_label"][data-page="carscars_list"] {
  width:20% !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field"][data-page="carscars_list"][data-cellid="grid_cell_field"][data-page="carscars_list"][data-cellid="grid_cell_field"][data-page="carscars_list"] {
  width:50% !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field6"][data-page="carscars_list"][data-cellid="grid_cell_field6"][data-page="carscars_list"][data-cellid="grid_cell_field6"][data-page="carscars_list"] {
  width:30% !important;
}

