[data-cellid="grid_c1"][data-page="carscars_add"][data-cellid="grid_c1"][data-page="carscars_add"][data-cellid="grid_c1"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c2"][data-page="carscars_add"][data-cellid="grid_c2"][data-page="carscars_add"][data-cellid="grid_c2"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c3"][data-page="carscars_add"][data-cellid="grid_c3"][data-page="carscars_add"][data-cellid="grid_c3"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c4"][data-page="carscars_add"][data-cellid="grid_c4"][data-page="carscars_add"][data-cellid="grid_c4"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c7"][data-page="carscars_add"][data-cellid="grid_c7"][data-page="carscars_add"][data-cellid="grid_c7"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c8"][data-page="carscars_add"][data-cellid="grid_c8"][data-page="carscars_add"][data-cellid="grid_c8"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c9"][data-page="carscars_add"][data-cellid="grid_c9"][data-page="carscars_add"][data-cellid="grid_c9"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c10"][data-page="carscars_add"][data-cellid="grid_c10"][data-page="carscars_add"][data-cellid="grid_c10"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c14"][data-page="carscars_add"][data-cellid="grid_c14"][data-page="carscars_add"][data-cellid="grid_c14"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c15"][data-page="carscars_add"][data-cellid="grid_c15"][data-page="carscars_add"][data-cellid="grid_c15"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c16"][data-page="carscars_add"][data-cellid="grid_c16"][data-page="carscars_add"][data-cellid="grid_c16"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c17"][data-page="carscars_add"][data-cellid="grid_c17"][data-page="carscars_add"][data-cellid="grid_c17"][data-page="carscars_add"] {
  background-color: #f4f4f4;
}


