<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="details_found" {$item_details_found} data-topcell-item-type="details_found" >
				<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-page="carscars_list" data-small >
{$details_found_labeldetails_found}
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="page_size" {$item_page_size} data-topcell-item-type="page_size" >
				<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="carscars_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c" data-pageid="{$pageid}"	{$cell_top_c}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c3" data-pageid="{$pageid}">
 
<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
<!--
	<button type="button" class="btn btn-info bs-togglebutton bottom-margin collapsed" data-runner-toggle="collapse" data-target=".filterPanelContainer">	
		<span class="glyphicon glyphicon-filter"><span> Filter	
	</button>
-->	
	<div class="filterPanelContainer {$filterPanelStateClass}">



			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_Price}
		<div class="panel panel-info filter-field filter-Price-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label carscars Price }</label>

				{BEGIN clearLink_Price}
				<a href="#" class="filter-clear filter-clear-Price">Clear</a>
				{END clearLink_Price}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_Price}
				<li class="list-group-item filter-values filter-values-Price {$collapsedClass_Price} {$visibilityClass_Price}">
					{$Price_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_Price}

			


			

				
	
			</ul>			
		</div>
		{END filter_control_Price}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_Horsepower}
		<div class="panel panel-info filter-field filter-Horsepower-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label carscars Horsepower }</label>

				{BEGIN clearLink_Horsepower}
				<a href="#" class="filter-clear filter-clear-Horsepower">Clear</a>
				{END clearLink_Horsepower}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_Horsepower}
				<li class="list-group-item filter-values filter-values-Horsepower {$collapsedClass_Horsepower} {$visibilityClass_Horsepower}">
					{$Horsepower_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_Horsepower}

			


			

				
	
			</ul>			
		</div>
		{END filter_control_Horsepower}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_Make}
		<div class="panel panel-info filter-field filter-Make-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label carscars Make }</label>

				{BEGIN clearLink_Make}
				<a href="#" class="filter-clear filter-clear-Make">Clear</a>
				{END clearLink_Make}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_Make}
				<li class="list-group-item filter-values filter-values-Make {$collapsedClass_Make} {$visibilityClass_Make}">
					{$Make_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_Make}

							{BEGIN filter_button_showmore_Make}
				<li class="list-group-item filter-show-more {$collapsedClass_Make} {$showMoreBtnClass_Make}">
					<a class="filter-show-more-link filterShowMore_Make" href="#">{$show_n_more_Make}</a>
				</li>
				{END filter_button_showmore_Make}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_Make}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_Model}
		<div class="panel panel-info filter-field filter-Model-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label carscars Model }</label>

				{BEGIN clearLink_Model}
				<a href="#" class="filter-clear filter-clear-Model">Clear</a>
				{END clearLink_Model}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_Model}
				<li class="list-group-item filter-values filter-values-Model {$collapsedClass_Model} {$visibilityClass_Model}">
					{$Model_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_Model}

							{BEGIN filter_button_showmore_Model}
				<li class="list-group-item filter-show-more {$collapsedClass_Model} {$showMoreBtnClass_Model}">
					<a class="filter-show-more-link filterShowMore_Model" href="#">{$show_n_more_Model}</a>
				</li>
				{END filter_button_showmore_Model}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_Model}
	 
	</div>
</div></td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c3" data-pageid="{$pageid}"	{$cell_above-grid_c3}
	class="r-align-right r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}{BEGIN grid_block}
<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle}>
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="3" class="header-table">
				 
										<tr>
						 
							<td 
	class="			"
			 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Edit" class="btn-link   
	 glyphicon glyphicon-pencil" href="carscars_edit.php?{$editlink}" {$editlink_attrs} title="Edit" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
 
{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="View record" class="btn-link   
	 glyphicon glyphicon-search" href="carscars_view.php?{$editlink}" {$viewlink_attrs} title="View" >		
				
								</a>
</span>
{END view_link}
{END view_column}
</td>
						 
							<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_cell_top1" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
						 
							<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="3" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-left r-ori-vert				{$Picture_class}
			"
		rowspan="4"	 
		data-field=""
	 
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="carscars_list">
 
{BEGIN Picture_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field6" {$item_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Picture" data-default-width >
{$Picture_value}
</span>
{END Picture_fieldcolumn}</td>
						 
							<td 
	class="				{$YearOfMake_class}
			"
			 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="carscars_list">
 
{BEGIN YearOfMake_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="YearOfMake" data-default-width >
{$YearOfMake_value}
</span>
{END YearOfMake_fieldcolumn} 
{BEGIN Make_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="Make" data-default-width >
{$Make_value}
</span>
{END Make_fieldcolumn} 
{BEGIN Model_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="Model" data-default-width >
{$Model_value}
</span>
{END Model_fieldcolumn}</td>
						 
							<td 
	class=" r-ori-vert				{$descr_class}
			"
		rowspan="4"	 
		data-field=""
	 
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="carscars_list">
 
{BEGIN descr_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field7" {$item_grid_field7} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="descr" data-default-width >
{$descr_value}
</span>
{END descr_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="				{$Horsepower_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN Horsepower_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label4" {$item_grid_field_label4} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="Horsepower">
	{$label carscars Horsepower }	</span>
{END Horsepower_fieldheadercolumn}

 
{BEGIN Horsepower_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Horsepower" data-default-width >
{$Horsepower_value}
</span>
{END Horsepower_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="				{$color_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN color_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label5" {$item_grid_field_label5} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="color">
	{$label carscars color }	</span>
{END color_fieldheadercolumn}

 
{BEGIN color_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field5" {$item_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="color" data-default-width >
{$color_value}
</span>
{END color_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$Price_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="carscars_list">
 
{BEGIN Price_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-page="carscars_list" data-record-id="{$recId}" data-field="Price" data-default-width >
{$Price_value}
</span>
{END Price_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
		 
		 
			{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c" data-pageid="{$pageid}"	{$cell_below-grid_c}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
